<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <SqlApis Name="Students">
    <SqlApi Name="GetStudentsByCount" SqlTpl="SELECT TOP (@Count) *
        FROM [dbo].[Students]">
      <Input>
        <!--会根据参数名称自动合并字段配置-->
        <Parameter Name="Count" DefaultValue="2"></Parameter>
      </Input>
    </SqlApi>
    <SqlApi Name="GetStudentById">
      <SqlTpl>
		  SELECT TOP 1 * FROM [dbo].[Students]
		  WHERE [Id] = @Id
	  </SqlTpl>
    </SqlApi>
  </SqlApis>
  <SqlApis Name="Classes">
    <SqlApi Name="GetAll">
      <SqlTpl>
		  SELECT TOP (1000) *
		  FROM [dbo].[Classes]
	  </SqlTpl>
    </SqlApi>
  </SqlApis>
</configuration>